@page "{searchText?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>@Model.Message</h2>

<div>
    <a asp-page="./create">create</a>
</div>
<div>
    <form method="get">
        <label asp-for="@Model.SearchText">Name</label>
        <input asp-for="@Model.SearchText" />
        <button type="submit" value="search">search</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>age</th>
            <th>operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>
                    <!--生成 <a href="/Edit?id=1">Edit</a>-->
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    <!--asp-page 属性与 asp-route、asp-controller 和 asp-action 属性互斥。
                        注意，asp-page-handler 属性值中省略了页处理程序方法名称的 On<Verb> 前缀。 如果方法是异步的，也省略 Async 后缀。
                        生成 <a href="/?id=1&amp;handler=del">delete</a>
                     -->
                    <a asp-page-handler="del" asp-route-id="@item.Id" asp-page="./index">delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
